[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

curio = "*"
pylru = "*"
httptools = "*"
microstats = "*"
pycryptodome = "==3.4.6"


[dev-packages]



[requires]

python_version = "3.6"
